html,
body {
  --color-1: #a8e6cf;
  --color-2: #dcedc1;
  --color-3: #ffd3b6;
  --color-4: #ffaaa5;
  --color-5: #ff8b94;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, var(--color-1), var(--color-2));
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: black;
}

h1,
h2 {
  margin-top: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(206, 174, 238, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}

.players {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ffffff;
}

#message {
  position: absolute;
}

.player1-score {
  position: absolute;
  left: 25%;
}

.player2-score {
  position: absolute;
  right: 25%;
}

button {
  position: absolute;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  padding: 100px;
  border-radius: 50%;
  background: linear-gradient(145deg, #04a1ff, #0487e6);
  box-shadow: 20px 20px 60px #0380d9, -20px -20px 60px #05adff;
}

button:active {
  outline: none;
  border: none;
  background: #0496ff;
  box-shadow: inset 20px 20px 60px #0380d9, inset -20px -20px 60px #05adff;
}

button:hover {
  padding: 110px;
  left: calc(50vw - 110px);
  top: calc(50vh - 110px);
  transition-duration: 0.5s;
}

#resetBtn {
  display: none;
  background-color: #db5461;
  background: linear-gradient(145deg, #db5461, #d42335);
  box-shadow: 20px 20px 60px #db5461, -20px -20px 60px #d42335;
}

#resetBtn:active {
  outline: none;
  border: none;
  background: #db5461;
  box-shadow: inset 20px 20px 60px #db5461, inset -20px -20px 60px #d42335;
}

.dice.active {
  background: #e3f2fd;
  box-shadow: 20px 20px 60px #c1ced7, -20px -20px 60px #ffffff;
  transition-duration: 0.5s;
}

.loser {
  background-image: url("images/130136-full.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.winner {
  background-image: url("images/OOVEYSCQCXOQXJ7ZYAZF25SKZI.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
